<p class = "lead">Log in</p>

<%= form_tag(session_path, method: :post) do %>
	<p>
		<%= label_tag "user[username]", "User name" %>
		<%= text_field_tag "user[username]" %>
	</p>

	<p>
		<%= label_tag "user[password]", "Password" %>
		<%= password_field_tag "user[password]" %>
	</p>

	<p>
		<%= submit_tag "Log In", class: "btn big-btn" %>
	</p>	
<% end %>