<%= form_for(@user) do |f| %>
<div class="row">
  <div class="span4">
    <p>
      <%= f.label :username, "User Name" %>
      <%= f.text_field :username %>
    </p>

    <p>
      <%= f.label :nickname, "Nickame" %>
      <%= f.text_field :nickname %>
    </p>
  </div>

  <div class="span4">
    <p>
      <label>Your Avatar</label>
      <% if @user.avatar %>
        <p>
          <%= image_tag @user.avatar.url(:thumb) %>
        </p>
      <% end %>
      <%= f.file_field :avatar %>
    </p>
  </div>

  <div class="span4">
    <p>
      <%= f.submit "Edit yo' self", class: "btn big-btn user-form-btn" %>
    </p>
  </div>
</div>

<% end %>