<div class="row">
	<div class="span2">
    <div id="nav-pane">nav</div>
    <div id="teams-pane">teams</div>
  </div>
	<div id="main-pane" class="span8">main</div>
	<div id="requests-pane" class="span2">requests</div>
</div>

<script>
$(document).ready(function(){
  var b = <%= current_user.to_json.html_safe %>
  console.log(b);


  var c = <%= current_user.owned_teams.to_json.html_safe %>
  console.log(c);

  Dish.initialize({
    $nav: $('#nav-pane'),
    $teams: $('#teams-pane'),
    $content: $('#main-pane'),
    $requests: $('#requests-pane'),

    userData: <%= current_user.to_json.html_safe %>,
    teamsData: <%= current_user.owned_teams.to_json.html_safe %>,
    receivedFeedbackRequestsData: <%= current_user.received_feedback_requests.to_json.html_safe %>,
    sentFeedbackRequestsData: <%= current_user.sent_feedback_requests.to_json.html_safe %>
  });

  $('.user-search').typeahead({
    name: 'users',
    prefetch: '../users.json',
    limit: 10
  });
});
</script>